<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | truncate: 160}}{% endif %}">
    <meta name="google-site-verification" content="sBariM7qdTnSQ9yf6CMZdiGL4V1oxXa2CGZdGdCBC8Y" />
    <meta name="msvalidate.01" content="ABDDADAE20533580FF7DCF1517F0E8EE" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Website CCS -->
    <link rel="stylesheet" href="css/font-style.css">
    <link rel="stylesheet" href="css/pastukhov.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" href='img/favicon.png' type="image/png">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link href="css/Spectral-Literata-SourceSansPr.css" rel="stylesheet">
    <link href="css/zilla-slab.css" rel="stylesheet">
</head>
