<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src='img/portrait.jpg'>
            </div>
            <div class="col-md-9">
                <h1>{{site.name[lang]}}</h1>
                <p class='dark' style="text-align:left;">{{site.description.whoami[lang]}}</p>
                <p class='dark'>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a class='dark' href="mailto:natalia.pastukhov@gmail.com">natalia.pastukhov@gmail.com</a><br/>
                    <i class="fa fa-fw fa-instagram"></i><a class="dark" href="https://www.instagram.com/{{ site.instagram_username }}">{{ site.instagram_username }}</a>
                </p>
            </div>
        </div>
    </div>
</header>
