    <!-- Interpreting Jobs Section -->
    {% for int_group in site.data.interpreting_types %}
        <section id="interpreting_{{int_group.type}}">
            <div class="fluid-container">
                <div class="row">
                    <div class="col-md-12 text-center section-header">
                        <h2>{{int_group.title[lang]}}</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row" style="padding-top: 1em;">
                    <div class="col-md-12">
                        {% assign current_year = "3000" %}
                        {% assign the_jobs = site.data.interpreting | where: "type", {{int_group.type}} %}
                        {% for the_job in the_jobs %}
                            {% if current_year != the_job.year %}
                            <div class="row">
                                <div class="col-md-3" align='center'>
                                    <h3>{{ the_job.year }}</h3>
                                    {% assign current_year = the_job.year %}
                                </div>
                                <div class="col-md-9"><hr/></div>
                                </div>
                            {% endif %}                        
                            <div class="row">
                                <div class="col-md-3" align='center'>
                                    {% for lang in the_job.languages %}
                                        <img class="img-responsive center-block col-md2" src="img/{{lang}}.png" style="padding-top: 0.5em;">
                                    {% endfor %}
                                    <!-- <p>{{ the_job.date }}</p> -->
                                </div>
                                <div class="col-md-9">
                                    {% assign description = the_job.description[lang] %}
                                    <p>{{the_job.description[lang]}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
